body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.main-game {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.genius {
    display: grid;
    grid-template-areas: "green red" 
    "blue yellow";
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}   
.green:hover {
    cursor: pointer;
}

.red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.red:hover {
    cursor: pointer;
}

.blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-left-radius: 100%;
}

.blue:hover {
    cursor: pointer;
}

.yellow {
    grid-area: yellow;
    background-color: rgb(230, 230, 57);
    border-bottom-right-radius: 100%;
}

.yellow:hover {
    cursor: pointer;
}

.selected {
    opacity: 0.8;
    filter: brightness(3.5); 
} 